# cmake
/build
/cmake-build-debug
/cmake-build-release
/lin-build
/Win-build
/win-build
/Lin-build

# IDE and Text Editors
/.idea
/.vscode
/.vs

# Binaries and Builds
/bin
*.exe # Windows Specific
*.lib # Windows Specific
*.dll # Windows Specific
